
.e0_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:1728px;
	height:1117px;
	position:absolute;
}
.e0_4 { 
	box-shadow:0px 0px 5px rgba(0, 0, 0, 0.10000000149011612);
	background-color:rgba(249.15126264095306, 249.15126264095306, 249.15126264095306, 1);
	width:638px;
	height:574px;
	position:absolute;
	left:544px;
	top:254px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}
.e0_5 { 
	width:552px;
	height:505px;
	position:absolute;
	left:589px;
	top:280px;
}

.e0_7 { 
	background-color:#0069d9;
	width:538px;
	height:52px;
	position:absolute;
	left:5px;
	top:453px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e0_8 { 
	background-color:#0069d9;
	width:538px;
	height:9px;
	position:absolute;
	left:5px;
	top:351px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e0_9 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:29px;
	height:29px;
	position:absolute;
	left:217px;
	top:341px;
}


.e0_11 { 
	color:rgba(255, 255, 255, 1);
	width:140px;
	height:24px;
	position:absolute;
	left:194px;
	top:467px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}

.e0_12 { 
	color:#0069d9;
	width:552px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
  font-family: 'poppins-bold', sans-serif;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}

.e0_13 { 
	color:rgba(0, 0, 0, 1);
	width:241px;
	height:24px;
	position:absolute;
	left:5px;
	top:289px;
	font-family: 'poppins-bold', sans-serif;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
